package com.thinkgem.jeesite.modules.${package}.dao;

import com.thinkgem.jeesite.common.persistence.CrudDao;
import com.thinkgem.jeesite.common.persistence.annotation.MyBatisDao;
import com.thinkgem.jeesite.modules.act.entity.Act;
import com.thinkgem.jeesite.modules.${package}.entity.${EntityName};

/**
* 单表生成Dao
* @version ${date}
*/
@MyBatisDao
public interface ${EntityName}Dao  extends CrudDao<${EntityName}>{

//${EntityName} get${EntityName}ByProcInsId(String procInsId);

int deleteByPrimaryKey(String ${entityName}Id);

int insert(${EntityName} record);

int insertSelective(${EntityName} record);

${EntityName} selectByPrimaryKey(String ${entityName}Id);

int updateByPrimaryKeySelective(${EntityName} record);

int updateByPrimaryKey(${EntityName} record);
}